/* Task 2: Style the Application */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-weight: 400;
    text-shadow: 1px 1px lightblue;
    color: #6495ED;
    background-color: #FFFACD;
    font-family: 'Courier New', monospace;
}

section {
    padding: 20px;
}

#randomParagraph {
    font-size: 18px;
    margin: 20px;
}

textarea {
    font-size: 16px;
    height: 150px;
    padding: 10px;
    width: 100%;
    max-width: 650px;
}

#timerDisplay {
    font-size: 24px;
    margin: 20px;
}

button {
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 20px;
    color: white;
    border-color: white;
    background-color: white;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#startButton {
    color: green; 
    border-color: green; 
}

#startButton:hover {
    background-color: green;
    border-color: white;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#stopButton {
    color: red;
    border-color: red   
}

#stopButton:hover {
    background-color: red;
    border-color: white;
    color: white;
}

#results {
    font-size: 24px;
    margin: 20px;
}